<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SystemPushDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D22BFE9B1F3455E9005D7955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D22BFEB41F3455E9005D7955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D22BFEBF1F3455EA005D7955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
